body{
  margin:0;
  font-family:Arial;
  background:#F5F0E6;
  color:#111;
  text-align:center;
}

.hero{
  padding:60px 20px;
}

.hero-img{
  width:250px;
  height:250px;
  border-radius:50%;
  object-fit:cover;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
  font-size:60px;
  margin:20px 0 10px;
  letter-spacing:5px;
}

.subtitle{
  font-size:18px;
  color:#333;
  margin-bottom:30px;
}

button{
  padding:15px 40px;
  font-size:18px;
  background:#111;
  color:white;
  border:none;
  border-radius:40px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#333;
  transform:scale(1.05);
}

.card{
  background:white;
  margin:20px auto;
  padding:20px;
  width:80%;
  max-width:500px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

audio{
  width:100%;
  margin-top:10px;
}
